# Laravel runtime / cache / session / logs
laravel/storage/
laravel/vendor*/

# File backup / ZIP / SQL / GZ / log lain
*.zip
*.sql
*.gz

# OS / Editor / hidden files
.DS_Store
__MACOSX/
Thumbs.db
*.swp
/.idea
/.vscode

# Mix / build
/public/hot
/public/build
/mix-manifest.json

# Plugins / uploads (jika tidak mau di-Git)
upload/
plugins/
plugin/

# Server / FTP files
.ftpquota
ftp/
cgi-bin/

