// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Override style di sini
.navbar {
    background-color: #000;  // Ubah warna background navbar
}


